.skeleton {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: iter;
    animation-timing-function: ease;
    background-color: #60606030;
    border-radius: 0.7em;
    box-shadow: var(--box-shadow-card);
    display: flex;
    height: 12em;
    opacity: 0;
    width: 20em;
}

@keyframes iter {
    from {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .skeleton {
        width: 10em;
        height: 20em;
    }
}
