:root {
    background-color: #242424;
    color-scheme: light dark;
    color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-card: #555;
    --background-color: #242424;
    --background-color-full: #000;
    --border-card: 1px solid #232323;
    --box-shadow-card: 0 0 0 transparent;
    --text-color: #ffffff;
}

:root,
input,
button,
a {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    place-items: center;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
        color: #213547;
        --background-card: #ffffff;
        --background-color: #ffffff;
        --background-color-full: #ffffff;
        --border-card: 1px solid #787976;
        --box-shadow-card: 0 0 5px #00000050;
        --text-color: #213547;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 8pt;
    }
}

a,
button {
    background-color: transparent;
    border-radius: 2em;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 0.8em;
    padding: 0.2em 1em;
    text-decoration: none;
    transition: all 0.1s ease;
}

a:hover,
button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    filter: brightness(1.2);
}

input[type="search" i]::-webkit-search-cancel-button {
    cursor: pointer;
    padding: 5px;
}
